<h1>Login</h1>

<%= form_tag '/login' do %>

  Email or Phone number: <%= text_field_tag :email_or_phone_number %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>