<ul class="nav side-menu">
  <li>
    <%= link_to doctors_dashboard_path(current_user), data: { turbolinks: false} do %>
     <i class="fa fa-home" aria-hidden="true"></i>Dashboard
    <% end %>
  </li>
</ul>