<div class="pull-left">
	<i>Printed on:</i> <strong><%= Time.now.strftime("%m/%d/%Y") %> at <%= Time.now.strftime("%I:%M%p") %></strong>
</div>
<div class="pull-right">
	<i>Printed by:</i> <strong><%= current_staff.try(:full_name) %></strong>
</div>