<div class="header-divs">
	<div class="pull-left product-logo">
		<%= wicked_pdf_image_tag 'img.jpg' %>
	</div>
	<div class="pull-right">
		ABC Hospitals Pvt Ltd<br>
		12th cross, 3rd main<br>
		NS palya, Bengaluru-76
	</div>
</div>