<!DOCTYPE html>
<html>
<head>
<title>PDF</title>
  <%= wicked_pdf_stylesheet_link_tag "reports" %>
	<%= render "layouts/reports_header" %>
</head>
<body>

  <div class='container'>
    <%= yield %>
  </div>

</body>
<footer>
	<%= render "layouts/reports_footer" %>
</footer>
</html>